body {
    margin: 0px;
}

h2 {
    font-family: 'Kanit', sans-serif;
    color: whitesmoke
}

#background {
    background-color: #202644;
}

#about{
    background-color: #424769;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-size: 22px;
    color: whitesmoke;
    padding: 30px; 
    border-radius: 10px; 
    flex-shrink: 0; 
    width: 45%;
}

.subsection{
    background-color: #424769;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-size: 22px;
    color: whitesmoke;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin: 10px;
    margin-bottom: 0;
    border-radius: 5px;
}

nav {
    display: flex;
    z-index: 100;
    justify-content: end;
    flex-direction: row;
    background-color: #1c2035;
    padding: 10px;
}

.topnav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#logo {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.topnav div div a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

.navbaritem {
    flex-shrink: 0;
}

.navbaritem a{
    font-size: 30px;
    color: #8b95d1;
    font-family: 'Kanit', sans-serif;
}

.navButtons {
    display: flex;
}
.subsection a:link {
    color: #576ff7;
}

.subsection a:visited {
    color: #576ff7;
}

.row {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    gap: 60px
}

.card {
    border-radius: 10px;
    padding: 20px;
    background-color: #202644;
    width: 550px;
}

footer {
    font-family: 'Kanit', sans-serif;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    background-color: #1c2035;
}